<details style="padding: 4px; margin: 4px; background-color: #A00B0B; color: #FFF; border: none; cursor: pointer;"><summary>System-Events &amp; Partys</summary>
    Termine, die für eine Intervention relevant sein könnten. Meist gibt es auch schon ein Bündnis dafür. (Farbe = Rot)
    </details>
    <details style="padding: 4px; margin: 4px; background-color: #CA4B06; color: #FFF; border: none; cursor: pointer;"><summary>Jahres &amp; Gedenktage</summary>
    Tage, die dem Gedenken an ein bestimmtes Ereignis oder einem politischen Thema bzw. einer (meist marginalisierten) Identität gewidmet sind, an denen oft politische Aktionen im Bezug auf den Anlass stattfinden. Im Netz findest du häufig Veranstaltungen in deiner Nähe (Farbe = Orange)
    </details>
    <details style="padding: 4px; margin: 4px; background-color: #8B8102; color: #FFF; border: none; cursor: pointer;"><summary>Prozesse & Repression</summary>
    Gerichtsprozesse, Haftprüfungen, Freilassungen und weiteres was mit Repression zu tun hat. (Farbe = Dunkelgelb)
    </details>
    <details style="padding: 4px; margin: 4px; background-color: #579B3B; color: #FFF; border: none; cursor: pointer;"><summary>Aktionstage &amp; Demos</summary>
    Demos, Aktionen und Aktionstage, an denen du mit deiner Gruppe oder alleine einfach teilnehmen kannst. Bei Aktionstagen ist es meist sinnvoll im Vorfeld mit der Orga Kontakt aufzunehmen. (Farbe = Grün) 
    </details>
    <details style="padding: 4px; margin: 4px; background-color: #009696; color: #FFF; border: none; cursor: pointer;"><summary>Konferenzen &amp; Treffen </summary>
    Konferenzen, Treffen von Bündnissen und On-Boardings, an denen du teilnehmen kannst. Oft ist eine Anmeldung notwendig. (Farbe = Türkis)
    </details>
    <details style="padding: 4px; margin: 4px; background-color: #002DB5; color: #FFF; border: none; cursor: pointer;"><summary>Camps &amp; Festivals</summary>
    Camps, Festivals, und Straßenfeste, an denen du mit deiner Gruppe oder alleine einfach teilnehmen kannst. Informiere dich ob es eine Anmeldung gibt. (Farbe = Blau)
    </details>
    <details style="padding: 4px; margin: 4px; background-color: #972CD8; color: #FFF; border: none; cursor: pointer;"><summary>Workshops &amp; Skillshares</summary>
    Workshops, Skillshares, Vorträge und weiteres über Politik, Aktivismus und Anti-Diskriminierung. Manche finden online statt, und oft ist eine Anmeldung notwendig :) (Farbe = Lila)
    </details>
    <details style="padding: 4px; margin: 4px; background-color: #92387e; color: #FFF; border: none; cursor: pointer;"><summary>Medien &amp; Kultur</summary>
    Podcasts, Ausstellungen, Konzerte, Zeitungsausgaben und weiteres über Politik, Aktivismus und Anti-Diskriminierung. (Farbe = Pink)
    </details>
    <br>